body{
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/127/496/1007/missing-chuck-norris-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.card {
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    height: auto;
    width: 44rem;
    border-radius: 5px;
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2px;
    text-align: center;
    top: 2rem;
}
  
.card img {
    height: 60%;
}

h2#chiste{
    margin: 1rem;
    padding: 1rem;
    border: 2px black dashed;
}